<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue/dist/vue.esm-browser.prod.js",
          "fachwerk": "https://unpkg.com/fachwerk/dist/fachwerk.mjs",
          "fachwerk/internal": "https://unpkg.com/fachwerk/dist/internal.mjs",
          "js-yaml": "https://unpkg.com/js-yaml/dist/js-yaml.mjs",
          "@slidev/parser": "https://unpkg.com/@slidev/parser/dist/index.mjs",
          "vue-demi": "https://unpkg.com/vue-demi/lib/index.mjs",
          "@vueuse/shared": "https://unpkg.com/@vueuse/shared/index.mjs",
          "@vueuse/core": "https://unpkg.com/@vueuse/core/index.mjs"
        }
      }
    </script>
    <script type="module">
      import { createApp, watch } from "vue";
      import { Fachwerk } from "fachwerk";
      import { useStorage } from "@vueuse/core";

      import { Compiler, useLoader, useEditor, useSlides } from "./index.js";

      const App = {
        components: { Compiler },
        setup() {
          const loader = () => fetch("./slides.md").then((res) => res.text());
          const { current, save, reset } = useLoader("slides_code", loader);
          watch(current, save, { immediate: true });

          const editor = useEditor();

          const { slides, slideIndex, prev, next } = useSlides(
            "slides_index",
            current
          );

          const edit = useStorage("slides_edit", false);

          return {
            editor,
            current,
            save,
            reset,
            slides,
            slideIndex,
            next,
            prev,
            edit,
          };
        },
        template: `
          <div class="grid h-screen grid-cols-1" :class="[edit ? 'grid-cols-[1fr_2fr]' : 'grid-cols-1']">
            <textarea
              ref="editor"
              v-show="edit"
              v-model="current"
              class="text-sm leading-6 text-gray-100 bg-gray-900 p-4 text-white font-mono"
            />
            <div>
              <template v-for="slide in slides">
                <div
                  v-show="slide.index === slideIndex"
                  class="prose max-w-none min-h-screen p-12"
                  :class="[slide.frontmatter?.global.class,slide.frontmatter?.class]"
                >
                  <Compiler :code="slide.content" :setup="{ prev, next }" />
                </div>
              </template>
            </div>
          </div>
          <div v-show="edit" class="fixed left-4 bottom-4 flex gap-4 text-xs text-white opacity-50">
            <button @click="reset">Reset</button>
          </div>
          <div class="fixed right-4 bottom-4 flex gap-4 text-xs text-black opacity-50">
            <button @click="edit = !edit">{{ edit ? 'Preview' : 'Edit'}}</button>
            <button @click="prev">‹</button>
            <button @click="next">›</button>
          </div>
        `,
      };

      const app = createApp(App);
      app.use(Fachwerk);
      app.mount("#app");
    </script>
    <div id="app"></div>
  </body>
</html>
